/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h2, h3, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
}

header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}

nav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;
    border-bottom: 1px solid gray;
    height: 40px;
}


.menu {
  list-style: none;
}

.left-menu a {
    color: black;
    text-decoration: none;
}

.left-menu li{
  display: inline-block;
  padding: 12px 13px;
}

.logo {
  width: 195px;
  height: 26px;
  margin: 6px auto;
}

.right-menu {
  padding: 12px 19px;
}

.subscribe {
  margin-right: 12px;
  background-color:#567b95 ;
  color: white;
  padding: 10px 12px;
  border: 0;
  border-radius: 3px;;
}

.user-acc {
    text-decoration: none;
    color: black;
}

.main {
  width: 65%;
  position: relative;
  left: 192px;
}

.main-container {
  padding-top: 50px;
}

.title-container{
  width: 100%;
  text-align: center;
}

.title{
  font-style: italic;
}

.telescope {
  width: 100%;
}

.img-des {
  color: gray;
}

.des-section {
  width: 50%;
  text-align: left;
  margin-left: 200px;
  margin-top: 50px;
}

.author-name a {
  
  color: black;
}

.date-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: gray;
  padding-bottom: 20px;
}

.logos {
 margin-right: 12px;
  padding-bottom: 20px;
}

.logo-icon {
  padding-left: 15px;
  color: black;
} 


.bicep {
  width: 100%;
}